# Service A
PORT=8080

# Database Service A (sesuai infra/docker-compose.yml)
DB_HOST=localhost
DB_PORT=5433
DB_NAME=registration_db
DB_USER=service_a
DB_PASS=service_a_pass

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE=patient.registered

# gRPC ke Service B
SERVICE_B_GRPC_ADDR=localhost:50051

# Path proto dari folder service-a/src
PROTO_PATH=../../proto/patient_record.proto

# Interval outbox relay (ms)
OUTBOX_POLL_MS=2000
