# Service B

# Database Service B (sesuai infra/docker-compose.yml)
DB_HOST=localhost
DB_PORT=5434
DB_NAME=medical_record_db
DB_USER=service_b
DB_PASS=service_b_pass

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE=patient.registered
RABBITMQ_DLX=patient.registered.dlq

# gRPC
GRPC_PORT=50051

# Path proto dari folder service-b/src
PROTO_PATH=../../proto/patient_record.proto
